<!DOCTYPE html>
<html ng-app="{{.ngApp}}">
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="/public/lib/jquery.min.js"></script>
    <script src="/public/lib/angular/angular.min.js"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>